@using HidoSport.Areas.Admin.Helpers
@using HidoSport.Helpers
@model DataAccess.New
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section CssPath{}
@section CssInclude{}
@section JsPath{}
@section JsInclude{
    <script src="@(ViewBag.rsrc)js-page/news.js"></script>
}

<div class="page-content">
    <div class="page-header">
        <h1>
            <a href="@Url.Action("Index")">Danh sách Bài viết</a>
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Chi tiết Sản phẩm
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row admin-edit">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div style="min-height:315px;">
                    <div class="form-group">
                        <div class="col-sm-5" style="padding-left:20%">
                            Tên
                        </div>
                        <div class="col-sm-7 edit-detail">
                            @Model.Name
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5" style="padding-left:20%">
                            Hình ảnh:
                        </div>
                        <div class="col-sm-7 edit-detail">
                            <img src="/@Model.ImgSrc" width="200px"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5" style="padding-left:20%">
                            Chuyên mục
                        </div>
                        <div class="col-sm-7 edit-detail">
                            @ItemHelper.ConvertCategory(Model.CategoryId)
                        </div>
                    </div>
                    <div class="container">
                        <h3>
                           Nội dung bài viêt
                        </h3>
                        <div class="col-sm-12 edit-detail">
                            @Html.Raw(Model.FullDes)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5" style="padding-left:20%" >
                            Trạng thái:
                        </div>
                        <div class="col-sm-7" style="">
                            @StatusHelper.ConverStatus(Model.Status)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-5"  style="padding-left:20%">
                            Ngày khởi tạo:
                        </div>
                        <div class="col-sm-7 edit-detail">
                            @Model.Create_Day
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5" style="padding-left:20%">
                            Ngày thay đổi cuối:
                        </div>
                        <div class="col-sm-7 edit-detail">
                            @Model.Change_Day
                        </div>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <a class="btn btn-success" type="button" href="@Url.Action("Edit",new { id =Model.Id})">
                            <i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
                            Sửa
                        </a>
                        &nbsp; &nbsp; &nbsp;
                        <a class="btn btn-danger" type="reset" href="@Url.Action("Delete",new { id =Model.Id})">
                            <i class="ace-icon fa fa-trash-o bigger-110"></i>
                            Xóa
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>